<h1>Homepage</h1>
<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%@enrolements.each do |enroled|%>
    <tr>
      <td><%=(Course.find_by_id enroled.course_id).name%></td>
    </tr>
    <%end%>
  </tbody>
</table>
