<%= form_for(@enrolement) do |f| %>
  <% if @enrolement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrolement.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @enrolement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
